.one{
    font-size: 40px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
    font-size: 20px;
}
.form{
    position: absolute;
    top: 150px;
    margin-top: 15px;
}
input{
    padding: 10px;
    border: 2px solid black;
    margin-top: 20px;
    width: 100%;
    background: red;
    font-size: 25px;
}
button{
    width: 150px;
    padding: 10px;
    border: 2px solid black;
    font-size: 20px;
    background-color: green;
    position: relative;
    top: 40px;
    left: 138px;
}
#alldata{
    width: 500px;
    height: 100px;
    border: 5px solid black;
    border-radius: 20px;
    background: aliceblue;
    position: relative;
    top: 50px;
    margin-top: 15px;
    
}
.data{
    width: 450px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 15px;
    height: 50px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 25px;
    background-color: yellowgreen;
}